.idea/
target/
katas.iml
/data/
/data-niet-in-git/algs4-data/1Kints.txt
/data-niet-in-git/algs4-data/1Mints.txt
/data-niet-in-git/algs4-data/2Kints.txt
/data-niet-in-git/algs4-data/4Kints.txt
/data-niet-in-git/algs4-data/4runs.bin
/data-niet-in-git/algs4-data/8ints.txt
/data-niet-in-git/algs4-data/8Kints.txt
/data-niet-in-git/algs4-data/16Kints.txt
/data-niet-in-git/algs4-data/32Kints.txt
/data-niet-in-git/algs4-data/ababLZW.txt
/data-niet-in-git/algs4-data/abra.txt
/data-niet-in-git/algs4-data/abraLZW.txt
/data-niet-in-git/algs4-data/amino.csv
/data-niet-in-git/algs4-data/aminoI.csv
/data-niet-in-git/algs4-data/aminoI.txt
/data-niet-in-git/algs4-data/brownian.txt
/data-niet-in-git/algs4-data/cards.txt
/data-niet-in-git/algs4-data/diffusion.txt
/data-niet-in-git/algs4-data/DJIA.csv
/data-niet-in-git/algs4-data/ex1.txt
/data-niet-in-git/algs4-data/ex2.txt
/data-niet-in-git/algs4-data/ex3.txt
/data-niet-in-git/algs4-data/ex4.txt
/data-niet-in-git/algs4-data/genomeTiny.txt
/data-niet-in-git/algs4-data/genomeVirus.txt
/data-niet-in-git/algs4-data/in1.txt
/data-niet-in-git/algs4-data/in2.txt
/data-niet-in-git/algs4-data/ip.csv
/data-niet-in-git/algs4-data/jobs.txt
/data-niet-in-git/algs4-data/jobsPC.txt
/data-niet-in-git/algs4-data/kw1260.txt
/data-niet-in-git/algs4-data/largeDG.txt
/data-niet-in-git/algs4-data/largeEWD.txt
/data-niet-in-git/algs4-data/largeEWG.txt
/data-niet-in-git/algs4-data/largeG.txt
/data-niet-in-git/algs4-data/largeT.txt
/data-niet-in-git/algs4-data/largeUF.txt
/data-niet-in-git/algs4-data/largeW.txt
/data-niet-in-git/algs4-data/leipzig1M.txt
/data-niet-in-git/algs4-data/list.txt
/data-niet-in-git/algs4-data/m1.txt
/data-niet-in-git/algs4-data/m2.txt
/data-niet-in-git/algs4-data/m3.txt
/data-niet-in-git/algs4-data/mediumDG.txt
/data-niet-in-git/algs4-data/mediumEWD.txt
/data-niet-in-git/algs4-data/mediumEWG.txt
/data-niet-in-git/algs4-data/mediumG.txt
/data-niet-in-git/algs4-data/mediumUF.txt
/data-niet-in-git/algs4-data/medTale.txt
/data-niet-in-git/algs4-data/mobydick.txt
/data-niet-in-git/algs4-data/movies.txt
/data-niet-in-git/algs4-data/pi.txt
/data-niet-in-git/algs4-data/q32x48.bin
/data-niet-in-git/algs4-data/q64x96.bin
/data-niet-in-git/algs4-data/rates.txt
/data-niet-in-git/algs4-data/routes.txt
/data-niet-in-git/algs4-data/rs1423.txt
/data-niet-in-git/algs4-data/shells.txt
/data-niet-in-git/algs4-data/shellsST.txt
/data-niet-in-git/algs4-data/tale.txt
/data-niet-in-git/algs4-data/tiny.txt
/data-niet-in-git/algs4-data/tinyBatch.txt
/data-niet-in-git/algs4-data/tinyCG.txt
/data-niet-in-git/algs4-data/tinyDAG.txt
/data-niet-in-git/algs4-data/tinyDG.txt
/data-niet-in-git/algs4-data/tinyEWD.txt
/data-niet-in-git/algs4-data/tinyEWDAG.txt
/data-niet-in-git/algs4-data/tinyEWDn.txt
/data-niet-in-git/algs4-data/tinyEWDnc.txt
/data-niet-in-git/algs4-data/tinyEWG.txt
/data-niet-in-git/algs4-data/tinyFN.txt
/data-niet-in-git/algs4-data/tinyG.txt
/data-niet-in-git/algs4-data/tinyPQ.txt
/data-niet-in-git/algs4-data/tinyST.txt
/data-niet-in-git/algs4-data/tinyT.txt
/data-niet-in-git/algs4-data/tinyTale.txt
/data-niet-in-git/algs4-data/tinytinyTale.txt
/data-niet-in-git/algs4-data/tinyUF.txt
/data-niet-in-git/algs4-data/tinyW.txt
/data-niet-in-git/algs4-data/tobe.txt
/data-niet-in-git/algs4-data/UPC.csv
/data-niet-in-git/algs4-data/words3.txt
